#root {
  color: black;
}

.dashboard {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

.feeds-container {
  width: 80%;
}

#event {
  display: flex;
}

#event-half {
  float: left;
}

#action-half {
  float: right;
}

#feed-summary {
  background-color: lightgrey;
}

#action-container {
  border: 1px solid red;
}

#history-container {
  border: 1px solid grey;
}